<div style="z-index: -1 !important;">
  <div class="header">
    <p style="font-weight: bold;"> {{User}} </p>
    <button id="logout" (click)="logout()">Abmelden</button>
  </div>
  <div style="max-width: 38%; text-align: center; margin: 0 auto;">
    <div>
      <p style="font-weight: bold;">Anzahl der Patienten in der MIDATA-Studie:</p>
      <p class="showNumber">{{Patients}}</p>
    </div>
    <div>
      <p style="font-weight: bold;">Anzahl der Dateneinträge:</p>
      <p class="showNumber">{{DataEntry}}</p>
    </div>
    <div style="margin-bottom: 10px;">
      <p style="font-weight: bold; padding-top: 5px;">REDCap-API-Token:</p>
      <p class="apiToken"> {{REDCapToken}}</p>
      <p *ngIf="showHint" style="color: red;">Bitte REDCapToken eingeben!</p>
      <div style="text-align: left;">
        <input type="text" class="form-control" [(ngModel)]='REDCapToken' [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <label style="color: red;">{{errorMessage}}</label>
    <button (click)="pushToRedCap()" class="btn-submit" style="margin-top: 5px; margin-bottom: 5px;">Nach REDCap exportieren</button>
  </div>
</div>
