<form [formGroup]="loginCredent" style="width: 250px; margin-left: 35%;" (ngSubmit)="login()">

  <div class="form-group">
    <label for="username">Benutzername</label>
    <input type="text" class="form-control" formControlName="username" required>
    <div *ngIf="username.errors && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Benutzername muss eingeben werden!</p>
    </div>
  </div>

  <div class="form-group">
    <label>Passwort</label>
    <input type="password" class="form-control" formControlName="password" required>
    <div *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Passwort muss eingeben werden!</p>
    </div>
  </div>
  <button type="submit" calss="btn btn-success">Anmelden</button>
  <div  *ngIf="errorOccured">
    {{errorMessage}}
    <button class="info-button">?</button>
  </div>
</form>